/* font google  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.438)), url(image/mountains.jpg);
}

section {
  padding-top: 5rem;
}

#home .auto-type {
  color: yellow;
}

#benefit {
  background-color: #e2edff;
}
